@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root  {
    --dark:#464646;
    --maroon:#8B3031;
    --yellow:#EED647;
    --white:#ffffff;
    --green:#027B3A;
}

.bgMaroon {
    background-color: var(--maroon);
}
.textMaroon {
    color: var(--maroon);
}

.bgYellow {
    background-color: var(--yellow);
}


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    overflow: hidden;
}


.list-group-item {
    border-radius: 5px 5px 0 0;
    margin-left: 1rem;
}

.list-group-item:hover {
    opacity: .8;
}

#list-link .active {
    background-color: var(--white) !important;
    color: var(--green) !important;
    font-weight: 800;
}



.sidebar-menu {
    width: 250px;
    height: 100vh;
    transition: all .9s;
 }

#sidebar a {
    margin: 0%;
}

#page-content-wrapper {
max-width: 100vw;
width: 100vw;

}

#main-content {
    border: 2px solid  var(--white);
    width: 100%;
    height: 100%;
    
}

/* Dashboard */
.add-btn {
    background-color: var(--maroon) !important;
    color: var(--white);
    border: none !important;
}

.add-btn:hover {
    opacity: .8;
}

/* Modal*/
#modal-form {
    background-color: #CBF7DF !important;
}

.table {
    border-top: 7px solid black !important;
    border: 1px solid black;
    overflow-y: scroll !important;
    font-size: small;
}

.action span {
    display: inline-block;
}

.opacity-btn {
    opacity: .4;
}

.action-btn {
    border: none;
}

.action-btn:hover {
    opacity: 1;
}


.form-horizontal{
    display:block;
    width:100%;
    margin:0 auto;
}

.label {
    font-weight: 500;
}